@model List<InmemDb.Models.CartItem>
@inject InmemDb.Services.IIngredientService _ingredientService
@inject InmemDb.Services.ShoppingCartService _cartService

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<table>
    <tr>
        <td>
            <a class="btn btn-primary" asp-action="ResetCart" asp-controller="ShoppingCart">Reset</a>
        </td>
        <td>
            <a class="btn btn-primary" asp-action="CheckOut" asp-controller="Payment">Checkout</a>
        </td>
    </tr>

        @foreach (var dish in Model)
        {
            <tr>
                <th>@dish.Dish.Name</th>
                <td>@dish.Dish.Price <b>KR</b></td>

            <td>
                <a data-toggle="modal" data-target="#ingredientModal"
                   class="glyphicon glyphicon-edit"
                   asp-action="EditDishIngredientsInCart"
                   asp-controller="ShoppingCart"
                   asp-route-dishId="@dish.Dish.DishId"
                   asp-route-cartItemId="@dish.CartItemId"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-update="#ingredientModal"
                   onclick="$('#ingredientModal').modal('open');">
                    
                </a>
            </td>
        </tr>
    }
</table>