@model InmemDb.Models.Dish
@inject InmemDb.Services.IngredientService _ingredientService

<form id="form" asp-action="AddProduct">
    @foreach (var ingredient in _ingredientService.All())
    {
        if (Model.DishIngredients.Any(x => x.IngredientId == ingredient.IngredientId && x.Enabled))
        {
            <div class="col-lg-6">

                <input type="checkbox" value="ingredient-@ingredient.IngredientId" name="ingredient-@ingredient.IngredientId" checked />
                <span>@ingredient.Name</span>
            </div>
        }
        else
        {
            <div class="col-lg-6">

                <input type="checkbox" value="ingredient-@ingredient.IngredientId" name="ingredient-@ingredient.IngredientId" />
                <span>@ingredient.Name</span>
            </div>
        }

    }

<span class="btn btn-primary" id="button">Add</span>
    <script>
        $(function () {
            $("#button").click(function () {
                $.ajax({
                    url: "/ShoppingCart/AddProduct/" + @Model.DishId,
                    type: "POST",
                    data: $("form").serialize(), //if you need to post Model data, use this
                    success: function (result) {
                        $("#orderSummary").html(result);
                    }
                });
            });
        });
    </script>


    @*<button class="btn btn-primary" id="button">Add</button>
    <script>
        $("#button").click(function () {
            $.ajax({
                type: "GET",
                data: { id: @Model.DishId}, //if you need to post Model data, use this
                url: "/ShoppingCart/_OrderSummary",
                success: function (data) {
                    alert(data)
                    $("#orderSummary").html(data);
                }
            });
        }
    </script>*@
</form>