


<div style="text-align:center;">
    <a style="width:60%;margin-top:10%;margin-bottom:1%;" class="btn btn-primary" asp-controller="Account" asp-action="Login">Login or create a membership</a>
    <a style="width:60%;" class="btn btn-primary" asp-controller="Payment" asp-action="Payment">Continue as guest</a>
</div>