@model InmemDb.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dish</h4>
    <hr />

        <table>
            <thead class="col-lg-6">
                <tr>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Price) KR</td>
                </tr>
            </thead>
            <tbody class="col-lg-6">
                @foreach (var ingridient in Model.DishIngredients)
                {
                    <tr>
                        <td>@ingridient.Ingredient.Name</td>
                    </tr>
                }
            </tbody>
        </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
