@model ICollection<InmemDb.Models.DishOrder>

<table>
    @foreach (var dish in Model)
    {
        <tr>
            <td>@dish.Dish.Name</td>
        </tr>
        <tr>
            <td>
                Pris: <b>@dish.Dish.Price</b>
            </td>
        </tr>
        <tr>
            <td>
                @dish.Quantity st
                <br />
                <a asp-controller="Order"
                   asp-action="AddDish"
                   asp-route-id=@dish.DishId
                   data-ajax="true"
                   data-ajax-mode="get"
                   data-ajax-method="update"
                   data-ajax-update="#orderSummary">
                </a>
                <br /><br />
            </td>
        </tr>
    }
    <tr>
        <td>Summa</td>
    </tr>
    <tr>
        <td>
            Att betala <b>@Model.Sum(p => p.Dish.Price * p.Quantity)</b> KR
            <br />
            <a asp-action="OrderDetails" asp-controller="Order">Köp >></a>
        </td>
    </tr>


</table>